.header
{
      background-color: rgb(2, 1, 70);
      color: #fff;
}

.main-page{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

.head
{
      background-color: rgba(24, 131, 72, 0.918);
      color: #fff;
}